@font-face {
  font-family: 'Roboto Light';
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: Roboto, Arial, "Noto Sans", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased !important;
}

a {
  outline: none !important;
  text-decoration: none !important;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.main-page {
  background: url(./../img/hero-bgd.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 700px;
}

.navbar {
  padding: 20px 0;
}

.menu-list__item {
  font-weight: bold;
  font-size: 20px !important;
  line-height: 23px;
  color: #fff !important;
}

.navbar-right__tel {
  font-weight: bold;
  font-size: 26px;
  line-height: 35px;
  color: #fff;
}

.navbar-right__burger {
  color: #fff !important;
}

.hero {
  padding-top: 50px;
}

.hero-title {
  font-weight: bold;
  font-size: 46px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
}

.hero-subtitle {
  margin: auto;
  padding-bottom: 30px;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
}

.hero-btn {
  padding: 26px 80px;
  background: #FFCC00;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.facts-block {
  text-align: center;
}

.vsrm-title {
  margin-bottom: -20px;
}
.facts-block__text {
  margin-top: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}
.vsm-number__text {
  margin-top: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.offer-info {
  background: #FFCC00;
  margin: auto;
}

.offer-info__txt {
  margin-bottom: 34px;
  max-width: 424px;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.offer-info__btn {
  padding: 18px 30px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  border: 2px solid #000000;
  color: #000000;
}

.portfolio {
  background: #EDEDED;
}

.portfolio-title {
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
}

.faq {
  background: #E8E8E8;
}

.faq-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 36px;
  line-height: 34px;
  color: #2E2E2E;
}

.list-item {
  margin-bottom: 19px;
  border-radius: 17px;
  background: #fff;
}

.list-item__title {
  font: 15px 'Roboto Medium' !important;
  line-height: 22px;
  color: #677CA9;
  padding-left: 20px;
}

p {
  padding: 0 20px 20px 20px;
}

.order {
  background: url(./../img/other-bgd.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 550px;
}

.order-card {
  max-width: 533px;
  height: auto;
  padding: 80px 0;
  background-color: #fff;
  margin: auto;
}

.order-info__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #fff;
}

.vsm-other__item {
  max-width: 380px;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #FFF;
}

.square {
  width: 18px;
  height: 18px;
  background: #FFCC00;
  margin-right: 10px;
}

.order-card__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 25px;
  text-align: center;
  color: #2E2E2E;
}

form {
  margin-bottom: 20px;
}

.order-card__btn {
  padding: 16px 40px;
  background: #FFCC00;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

input {
  margin-bottom: 15px;
  width: 392px;
  height: 44px;
  border: 1px solid #B0B0B0;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #A1A1A1;
  
}

.brif__comment {
  width: 100%;
  max-width: 370px;
  padding: 12px 0 0 10px;
  font-family: Roboto !important;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #A1A1A1;
  outline: none;
  border: 1px solid #B0B0B0;
}

.brif__input {
  width: 100%;
  max-width: 370px;
  outline: none;
  padding-left: 10px;
}

.vsrm-inst {
  font-size: 16px;
  color: 2e2e2e;
}

.contacts-item {
  margin-bottom: 20px;
}

.contacts-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
}

.contacts-item__img {
  margin-right: 15px;
}

.contact-woker, .contact-mail {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #001829;
}

.contact-tel {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #001829;
}

.contacts-item__info {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #001829;
}

.contacts-map {
  min-height: 300px;
}

.footer {
  background: #3F3F3F;
}

.footer-info {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer-menu__item {
  margin-left: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #fff !important;
}

.card-img-top {
  width: -webkit-fill-available;
}

.vsm-video__play {
  background: url(../img/play.svg) no-repeat;
}

.offer-block {
  height: 42px;
}
.vsm-number {
  background: #FFCC00;
}
@media (min-width: 1100px) {
  .list-item:hover {
    background-color: white;
    cursor: pointer;
  }
  .hero-btn:hover {
    color: #000 !important;
    background-color: #ffe066;
  }
  .offer-info__btn:hover {
    color: #fff !important;
    background-color: #000;
    cursor: pointer;
  }
  .vsm-video:hover, .vsm-video__play:hover {
    opacity: 0.92;
  }
  .menu-list__item:hover, .navbar-right__tel:hover, .footer-menu__item:hover {
    color: #ffd633 !important;
  }
  .contact-tel:hover, .contact-mail:hover {
    color: #7b7b7b !important;
  }
  .vsrm-inst {
    color: #7b7b7b !important;
  }
}

@media (max-width: 1200px) {
  .footer-menu__item {
    font-size: 16px;
  }
  .offer-info {
    margin-top: 0 !important;
  }
  .facts {
    padding: 20px;
  }
}

@media (max-width: 945px) {
  .hero-title {
    font-size: 36px;
  }
  .hero-subtitle {
    font-size: 18px;
  }
  .hero-btn {
    padding: 16px 40px;
    font-size: 16px;
  }
  .facts-block__img {
    margin-top: 20px;
  }
  .brif-form {
    max-width: 300px;
    margin: auto;
    padding-bottom: 20px;
  }
  .faq-title {
    font-size: 32px;
  }
  .list-item__title {
    font: 14px;
  }
  .list-item__info {
    font-size: 15px;
  }
  .contacts-title {
    font-size: 32px;
  }
  .facts {
    padding-bottom: 30px;
  }
  .offer-info {
    padding: 40px 0;
  }
  .vsm-video__play {
    margin-left: 4% !important;
  }
}

@media (max-width: 720px) {
  .faq-title {
    font-size: 26px;
  }
  .vsrm-title, .order-card__title {
    font-size: 28px;
  }
  .footer-info {
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 420px) {
  .hero-title {
    font-size: 29px;
    line-height: 34px;
  }
  .hero-subtitle {
    font-size: 16px;
    line-height: 19px;
  }
  .hero-btn {
    padding: 16px 40px;
    font-size: 16px;
  }
  .offer-info__txt {
    font-size: 20px;
    line-height: 28px;
  }
  .offer-info__btn {
    padding: 14px 24px;
  }
  
  .order-card__btn {
    padding: 16px 10px;
    font-size: 13px;
  }
  .vsm-other__item {
    line-height: 22px;
    font-size: 18px;
    margin-bottom: 5px;
  }
  .order-card {
    padding: 49px 25px;
  }
  .vsrm-title, .order-card__title {
    font-size: 21px;
  }
}
/*# sourceMappingURL=style.css.map */